*{
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}
body{
    background-color: rgb(221, 224, 235);
    display: grid;
    place-items: center;
}

.container{
    max-width: 500px;
    width: 100%;
    background-color:rgb(173, 173, 231);
    padding: 20px;
    box-shadow: 5px 6px 3px 2px #8eaeeb;
}

h1{
    text-align: center;
    color: #0a0a0a;
}

.Form-container{
    padding-top: 20px;
    
}

.form-field{
    padding: 10px 0;
    display: grid;
    color: #0f0f0f;
    height: 100px;
    
}
.submission-section{
    padding-top: 25;
    display: grid;

}
.submission-section button{
    height:40px;
    background-color: rgb(44, 112, 201);
    font-size: 20px;
    color: black;
}

.error-message{
    color: red;
}

input::-webkit-inner-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin:0;
}

input[type=number]{
    -moz-appearance: textfield;
}